.event-container p.title {
    background-color: #0066cc; 
    color: #fff; 
    font-weight: bold; 
    text-transform: uppercase; 
    padding: 8px; 
    border-radius: 4px;
    position: relative;
    width: 97%;
    left: 0%;
}

.event-container p.date-time {
    font-weight: bold; 
}

.event-container {
    box-sizing: border-box;
    background-color: rgb(217, 217, 217);;
    top: 20%;
    left: 30%;
    height: 15%;
    width: 40%;
    position: absolute;
    border-radius: 15px;
}

